NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GEMINI_API_KEY=
RESEND_API_KEY=
EMAIL_FROM=

# Dodo Payments
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=
DODO_PAYMENTS_ENV=test
DODO_PRODUCT_ID_STARTER=
DODO_PRODUCT_ID_PRO=
DODO_PRODUCT_ID_MEGA=

ADZUNA_API_KEY=
ADZUNA_APP_ID=
